/* HOME_SECTION  */
span {
    cursor: pointer;
}

.number {
    border: 2px solid var(--white_color);
    border-radius: 15px;
}

.minus,
.plus {
    background: var(--white_color);
    border: 1px solid var(--white_color);
    border-radius: 8px;
    vertical-align: middle;
}

input {
    background: transparent !important;
    height: 34px;
    width: 100px;
    outline: none !important;
    font-size: var(--font-xl);
    font-family: "rock";
    font-weight: var(--fw-400);
    border-radius: 4px;
    vertical-align: middle;
}

.slick-slide img {
    float: right;
}

.slick-slide {
    float: right !important;
}

/* HOME_SECTION_eNDS  */


/* ROADMAP_SECTION */
.content:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(37px);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.content {
    border: 1px solid transparent;
}

.circle {
    height: 24px;
    width: 24px;
    border: 1px solid var(--white_color);
    box-sizing: border-box;
    border-radius: 50%;
    background: #000 !important;
    z-index: 5 !important;
}

.timeline::before {
    content: "";
    position: absolute;
    background: var(--grey_color);
    background-color: grey;
    top: 0;
    bottom: 0;
    width: 6px;
    left: 57px;
}

.z-index {
    z-index: 1;
}

@media(max-width:992px) {
    .timeline::before {
        left: 10px;
    }

    .slick-slide img {
        float: unset;
        width: 90%;
    }

}