/* ABOUT-SECTION */
.about_absolute {
    position: absolute;
    left: 0;
}

.opacity1 {
    opacity: 40%;
}

@media(max-width:991px) {
    .about_image {
        width: 90%;
    }
}

/* TEAM-SECTION */
.team_image {
    transition: 0.3s all ease-in;
}

.team_image:hover {
    transform: scale(1.05);
}