/* ABOUT-SECTION */
.about_absolute {
    position: absolute;
    left: 0;
}

.opacity1 {
    opacity: 40%;
}

@media(max-width:991px) {
    .about_image {
        width: 90%;
    }
}

/* TEAM-SECTION */
.team_image {
    transition: 0.3s all ease-in;
}

.team_image:hover {
    transform: scale(1.05);
}

/* FOOTER-SECTION */
.footer_section {
    background-image: url("../images/png/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_icon {
    transition: 0.3s all ease-in;
}

.footer_icon:hover {
    transform: scale(1.05);
}

.footer_line {
    /* border: 1px solid #FFFFFF; */
    border-top: 1px solid var(--white_color);
}